<div class="search-bar" style="position:relative;">
  <input [(ngModel)]="city" (input)="onInputChange()" placeholder="Enter city name" autocomplete="off" />
  <button (click)="searchCity()">Search</button>

  <div *ngIf="loading" class="search-loader">Loading...</div>
  <div *ngIf="errorMsg && !loading" class="search-error">{{ errorMsg }}</div>
  <ul *ngIf="suggestions.length > 0 && !loading" class="suggestions-dropdown">
    <li *ngFor="let s of suggestions" (click)="selectSuggestion(s)">
      {{ s.name }}<span *ngIf="s.state">, {{ s.state }}</span>, {{ s.country }}
    </li>
  </ul>
</div>